@model IEnumerable<CrudApp.Models.UserModel>

<div class="d-flex justify-content-between ">
    <div>
        <h2>Cards</h2>
    </div>

    <div>
        <a href="@Url.Action("Create")" class="btn btn-primary">Add novo card</a>
    </div>
</div>

@await Html.PartialAsync("_Messages")

<div class="container">
    <div class="row">
        @foreach (var user in Model)
        {
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title"> <strong>@user.Nome</strong> </h3>
                        <p class="card-text"><strong>Idade:</strong> @user.Idade</p>
                        <p class="card-text"><strong>Mensagem:</strong> @user.Mensagem</p>
                        <div class="d-flex justify-content-between">
                            <a href="@Url.Action("Edit", new { id = user.Id })" class="btn btn-primary">Editar</a>
                            <a href="@Url.Action("Delete", new { id = user.Id })" class="btn btn-danger">Deletar</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
 </div>
</div>

